# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [5]:
# Your code here
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
insurance_company = pd.read_csv(url)
insurance_company

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print(insurance_company.dtypes)
#Customer, ST, GENDER, EDUCATION,Policy Type, Vehicle Class ... These are objects and they are appropriate since most of them are categorical data type while Customer is the only column for ID column
#Total Claim Ammount has the appropriate data type because it represnt monetary value
#Monthly Premium Auto has appropriate data type because it has monetary value
#Income represents numeric value and is appropriate

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [40]:
# Check for any incorrect data types
for col in insurance_company.columns:
    if insurance_company[col].dtype == 'object':
        try:
            pd.to_numeric(insurance_company[col])
            print(f"Column '{col}' could potentially be converted to a numerical type.")
        except ValueError:
            pass  # Leave as object if it can't be converted
print()

In [42]:
#Identify the number of unique values for each column
unique_values = insurance_company.nunique()
print("Number of unique values in each column:")
print(unique_values)

Number of unique values in each column:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [44]:
# Determine categorical and numerical columns
categorical_columns = insurance_company.select_dtypes(include=['object']).columns
numerical_columns = insurance_company.select_dtypes(include=['number']).columns

print("Categorical columns and their unique values:")
for col in categorical_columns:
    print(f"{col}: {insurance_company[col].unique()}")

print("Numerical columns and their range of values:")
for col in numerical_columns:
    print(f"{col}: Min={insurance_company[col].min()}, Max={insurance_company[col].max()}")

Categorical columns and their unique values:
Customer: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
ST: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
GENDER: [nan 'F' 'M' 'Femal' 'Male' 'female']
Education: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Customer Lifetime Value: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Number of Open Complaints: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Policy Type: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Numerical columns and their range of values:
Income: Min=0.0, Max=99960.0
Monthly Premium Auto: Min=61.0, Max=35354.0
Total Claim Amount: Min=0.382107, Max=2893.239678

In [49]:
# Select numerical columns
numerical_columns = insurance_company.select_dtypes(include=['number'])

# Compute summary statistics
summary_stats = numerical_columns.describe().T  # Transpose for better readability
print("Basic Summary Statistics for Numerical Columns:")
print(summary_stats)

# Compute additional statistics
print("Additional Statistics:")
for col in numerical_columns.columns:
    print(f"Column: {col}")
    print(f"Mean: {numerical_columns[col].mean()}")
    print(f"Median: {numerical_columns[col].median()}")
    print(f"Mode: {numerical_columns[col].mode().iloc[0]}")  # Handle mode in case of multiple modes
    print(f"Standard Deviation: {numerical_columns[col].std()}")
    print(f"Quartiles (25%, 50%, 75%): {numerical_columns[col].quantile([0.25, 0.5, 0.75])}")

Basic Summary Statistics for Numerical Columns:
                       count          mean           std        min  \
Income                1071.0  39295.701214  30469.427060   0.000000
Monthly Premium Auto  1071.0    193.234360   1601.190369  61.000000
Total Claim Amount    1071.0    404.986909    293.027260   0.382107

                               25%           50%      75%           max
Income                14072.000000  36234.000000  64631.0  99960.000000
Monthly Premium Auto     68.000000     83.000000    109.5  35354.000000
Total Claim Amount      202.157702    354.729129    532.8   2893.239678
Additional Statistics:
Column: Income
Mean: 39295.70121381886
Median: 36234.0
Mode: 0.0
Standard Deviation: 30469.42706040185
Quartiles (25%, 50%, 75%): 0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64
Column: Monthly Premium Auto
Mean: 193.234360410831
Median: 83.0
Mode: 65.0
Standard Deviation: 1601.190368577621
Quartiles (25%, 50%, 75%): 0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64
Column: Total Claim Amount
Mean: 404.9869094089639
Median: 354.729129
Mode: 321.6
Standard Deviation: 293.0272599264041
Quartiles (25%, 50%, 75%): 0.25    202.157702
0.50    354.729129
0.75    532.800000
Name: Total Claim Amount, dtype: float64

In [51]:
# Select categorical columns
categorical_columns = insurance_company.select_dtypes(include=['object'])

# Compute summary statistics for categorical columns
print("Summary Statistics for Categorical Columns:")
for col in categorical_columns.columns:
    print(f"Column: {col}")
    print(f"Number of Unique Values: {categorical_columns[col].nunique()}")
    print(f"Unique Values: {categorical_columns[col].unique()}")
    print(f"Value Counts:{categorical_columns[col].value_counts()}")

#Conclusions:
#ST (State):

#Most customers are from CA (California), followed by WA (Washington).
#NV (Nevada) has the least number of customers.
#GENDER:

#The dataset is fairly balanced between male (M) and female (F) customers, though there are slightly more males.
#Policy Type:

#The majority of customers have a "Personal Auto" policy, suggesting the company primarily caters to individual customers.
#"Special Auto" policies are rare, which could indicate a niche product.

Summary Statistics for Categorical Columns:
Column: Customer
Number of Unique Values: 1071
Unique Values: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Value Counts:RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64
Column: ST
Number of Unique Values: 8
Unique Values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Value Counts:Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64
Column: GENDER
Number of Unique Values: 5
Unique Values: [nan 'F' 'M' 'Femal' 'Male' 'female']
Value Counts:F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64
Column: Education
Number of Unique Values: 6
Unique Values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Value Counts:Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64
Column: Customer Lifetime Value
Number of Unique Values: 1027
Unique Values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Value Counts:445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: Customer Lifetime Value, Length: 1027, dtype: int64
Column: Number of Open Complaints
Number of Unique Values: 6
Unique Values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Value Counts:1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64
Column: Policy Type
Number of Unique Values: 3
Unique Values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Value Counts:Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Column: Vehicle Class
Number of Unique Values: 6
Unique Values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Value Counts:Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [52]:
# Your code here
# Create a Series object for customer locations and their frequencies
customer_locations = insurance_company['ST'].value_counts()

# Retrieve the top 5 less common locations in ascending order
top_5_less_common_locations = customer_locations.nsmallest(5)

# Display the result
print("Top 5 Less Common Customer Locations:")
print(top_5_less_common_locations)

Top 5 Less Common Customer Locations:
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [54]:
# Your code here
# Create a Series object for policy types and their total number of policies sold
policy_counts = insurance_company['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
most_sold_policy_type = policy_counts.idxmax()
most_sold_policy_count = policy_counts.max()

# Display the results
print("Total Policies Sold by Type:")
print(policy_counts)
print(f"Policy Type with the Highest Number of Policies Sold: {most_sold_policy_type} ({most_sold_policy_count} policies)")

Total Policies Sold by Type:
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Policy Type with the Highest Number of Policies Sold: Personal Auto (780 policies)

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [55]:
# Your code here
# Filter dataframes for each policy type
personal_auto_df = insurance_company.loc[insurance_company['Policy Type'] == 'Personal Auto']
corporate_auto_df = insurance_company.loc[insurance_company['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
personal_auto_avg_income = personal_auto_df['Income'].mean()
corporate_auto_avg_income = corporate_auto_df['Income'].mean()

# Print the results
print(f"Average Income for Personal Auto: ${personal_auto_avg_income:.2f}")
print(f"Average Income for Corporate Auto: ${corporate_auto_avg_income:.2f}")

Average Income for Personal Auto: $38180.70
Average Income for Corporate Auto: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [56]:
# Your code here
# Review statistics for the Total Claim Amount
total_claim_stats = insurance_company['Total Claim Amount'].describe()
print("Summary Statistics for Total Claim Amount:")
print(total_claim_stats)

# Calculate the 75th percentile (top 25% cutoff)
claim_75th_percentile = insurance_company['Total Claim Amount'].quantile(0.75)

# Filter the DataFrame for customers with a claim amount above the 75th percentile
high_claim_customers = insurance_company[insurance_company['Total Claim Amount'] > claim_75th_percentile]

# Step 4: Calculate summary statistics for the high claim amount data
high_claim_summary = high_claim_customers.describe()

# Display the results
print("75th Percentile of Total Claim Amount:", claim_75th_percentile)
print("High Claim Customers DataFrame:")
print(high_claim_customers)

print("Summary Statistics for High Claim Customers:")
print(high_claim_summary)

Summary Statistics for Total Claim Amount:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64
75th Percentile of Total Claim Amount: 532.8
High Claim Customers DataFrame:
     Customer          ST GENDER Education Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2     AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17    OE15005        Cali    NaN   College              394524.16%  28855.0
23    TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26    US89481  California    NaN  Bachelor              394637.21%      0.0
...       ...         ...    ...       ...                     ...      ...
1059  YG44474      Oregon      M   College             1401472.13%  54193.0
1061  RY92647        Cali      F  Bachelor             1050677.17%      0.0
1068  GS98873     Arizona      F  Bachelor              323912.47%  16061.0
1069  CW49887  California      F    Master              462680.11%  79487.0
1070  MY31220  California      F   College              899704.02%  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]
Summary Statistics for High Claim Customers:
             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678